body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

.search-bar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 允许在小屏时自动换行 */
    gap: 15px;
    max-width: 90vw; /* 避免超出屏幕 */
}

.search-bar input {
    flex: 1 1 30%;
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f1f1f1;
    min-width: 50px;
    max-width: 300px;
}

.search-bar input:focus {
    border-color: #007bff;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.search-bar button {
    flex: 0 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #1d1d1d;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    min-width: 100px;
    white-space: nowrap;
}


.search-bar button:hover {
    background-color: #252525;
    transform: scale(1.05);
}

.search-bar button:active {
    transform: scale(1);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.video-card {
    width: 150px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.video-card:hover {
    transform: translateY(-5px);
}

.video-card img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.video-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.video-card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.video-card a:hover {
    text-decoration: underline;
}

.video-card p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

/* 查看更多按钮 */
#load-more {
    display: none;
    margin: 20px auto;
    padding: 12px 20px;
    border: none;
    background-color: #131313;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

#load-more:hover {
    background-color: #282828;
    transform: scale(1.05);
}

#load-more:active {
    transform: scale(1);
}
